.button-container {
  display: flex;
  position: fixed;
  right: 0;
  width: 80px;
  background-color: black;
  z-index: 2;
  border-radius: 0 0 0 40px;

  a {
    text-decoration: none;
    color: white;
    opacity: 1;
    font-size: 1.1em;
    font-weight: 400;
    transition: 200ms;
  }

  #userExit {
    position: absolute;
    top: 90vh;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
}

nav {
  height: 50px;
  width: 100%;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15px;
  left: 27px;
  z-index: 3;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: -8px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 5px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0 0;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 100vw;
  height: 110vh;
  margin: -50px 0 0 -50vw;
  padding: 110px 30px 50px;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 2;
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}